.gsd-keyboard.settings-ported
Code/
GIMP/
QtProject.conf
WorldOfGoo2/
btop/
calibre/
chromium/
cosmic/
dconf/
emacs/.gitignore
emacs/tramp
enchant/
evolution/
ghc/
gnome-boxes/
gnome-initial-setup-done
goa-1.0/
gtk-3.0/
gtk-4.0/
hypr/
ibus/
lem/
libreoffice/
libvirt/
monitors.xml
monitors.xml~
nvim/backup/
org.gnome.Ptyxis/
pulse/
racket/
rustdesk/
sealert.conf
user-dirs.dirs
user-dirs.locale
xkb/
zellij/
1Password/
BraveSoftware/
GNOME-xdg-terminals.list
Mattermost/
Microsoft/
QtProject/
Slack/
VirtualBox/
alacritty/
autostart/
clangd/
cni/
com.yuezk.qt/
dleyna-renderer-service.conf
doom/
emacs-old/
emacs.doom/
environment.d/
eog/
evince/
fish/
gnome-control-center/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
gtk-2.0/
htop/
i3/config.old
joplin-desktop/
keepassxc/
microsoft-edge-dev/
mimeapps.list
nautilus/
nixpkgs/
nvim/.gitignore
nvim/.neoconf.json
systemd/
teams/
toolbox/
vivaldi-snapshot/
vivaldi/
xdg-terminals.list
yelp/
